:local(.rap){
    background-color: rgb(25, 25, 25);;
    font-family : 'Open Sans', sans-serif;
    color: white;

}


 :local(.RAContainer) {
    background-color: rgb(25, 25, 25);
    font-family : 'Open Sans', sans-serif;
    color: white;
    padding: 5px;
} 
:local(.RAEntryContainer) {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(25, 25, 25);;
    font-family : 'Open Sans', sans-serif;
    color: white;
} 

:local(.RAEntryContainer:hover) {
  
    background-color: #42414194;
 
} 

:local(.RAEntry) {
    display: flex;
    justify-content: space-between;
    table-layout: auto;
    width: 100%;
    margin: 10px;
    
}

:local(.RAname) {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    
}

/* :local(.RAListenersContainer) {
  display: flex;
  table-layout: auto;
  padding: 5px;
 
}  */
:local(.RAListeners) {
    visibility: hidden;
    margin-top: 17%;
    width: auto;
    padding: 5px;
   
  } 

:local(.RAEntry:hover .RAListeners) {
  visibility: visible;
  top: 0px;

} 
:local(.RAListeners:hover){
    visibility: visible;

}

:local(.RAButton) {
    background: transparent;
    border-radius: 500px;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    margin: 25px;
    min-width: 100px;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-right: 10px;
    float: left;
    border: 0.5px solid #b3b3b3;
}
:local(.RAButton:hover) {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    border: 1.4px solid white;
  }

:local(.RAButton:focus) {
    outline: 0;
}


:local(.PopularSong) {
    display : inline-flex;
    overflow: visible;
    padding: '5%';
    height: auto;

}